 body {
     display: flex;
     flex-direction: column;
     background-image: url("star.gif");
 }
 
 h1 {
     padding-left: 10px;
     color: gold;
     text-shadow: 2px 2px black;
     font-family: 'Times New Roman', Times, serif;
 }
 
 #forumla {
     background-image: url("fond.jpg");
     background-size: contain;
     width: 600px;
 }
 
 form {
     padding-bottom: 10px;
     padding-left: 10px;
 }
 
 #listaff {
     background-image: url("ofndliste.jpg");
     height: 100vh;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
 }
 
 h2 {
     font-size: 3em;
     padding-left: 10px;
     color: red;
     text-shadow: 2px 1px black;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-align: center;
     margin-left: -12%;
 }
 
 ul {
     list-style: none;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 5%;
 }
 
 li {
     margin: 7px;
     margin-left: -6%;
     padding: 3px;
     font-size: 1.5em;
     color: red;
     text-shadow: 2px 1px black;
 }